<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation />
  </system.web>
  <system.net>
    <defaultProxy enabled="true" xdt:Transform="Replace" >
      <proxy proxyaddress="http://10.67.102.110:3128" bypassonlocal="True" />
    </defaultProxy>
  </system.net>
</configuration>